
.service-box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #00bcd4, #9c27b0, #ffeb3b, #4caf50);
    z-index: -1;
    border-radius: inherit;
    background-size: 400% 400%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service-box:hover::before {
    opacity: 1;
    animation: border-animation 8s linear infinite;
}

@keyframes border-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}